/*****************
*****CLASSES******
*****************/
.signup-textform {
  padding-right: 20%;
}

.signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.signup-form {
  width: 50%;
  border: 1px solid black;
  border-radius: 15px;
}

.textForm-containers {
  display: flex;
  flex-direction: column;
}

.radio-container {
  margin: 2% 0; /** SPACING BETWEEN RADIO & BUTTON/FORMS
}


.radio-label {
  font-size: 22px; /** RADIO FONT SIZE **/
};

/********* BUTTON ************/
/** SIGNUP **/
.signup-button:disabled {
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2% 10%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ed49335d;
  color: #ffffff;
  cursor: pointer;
}

.signup-button {
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2% 10%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ed4933;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
}


/************
*** LOGIN ***
************/
.login-button:disabled {
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2% 10%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ed49335d;
  color: #ffffff;
  cursor: pointer;
}

.login-button {
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2% 10%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ed4933;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
}

.button-container {
  margin: 4% 0;
}